src/test/resources/samples/definitions/SampleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/sampleservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ope1="http://www.example.org/sampleservice/operation1"
                  xmlns:ope2="http://www.example.org/sampleservice/operation2"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService"
                  targetNamespace="http://www.example.org/sampleservice/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="operation1.xsd" namespace="http://www.example.org/sampleservice/operation1"/>
            <xsd:import schemaLocation="operation2.xsd" namespace="http://www.example.org/sampleservice/operation2"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="operation1Request">
        <wsdl:part element="ope1:operation1" name="operation1" />
    </wsdl:message>
    <wsdl:message name="operation1Response">
        <wsdl:part element="ope1:operation1Response" name="operation1Response" />
    </wsdl:message>
    <wsdl:message name="operation1Fault">
        <wsdl:part name="operation1Fault" element="ope1:operation1Fault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="operation2Request">
        <wsdl:part name="operation2" element="ope2:operation2"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="operation2Response">
        <wsdl:part name="operation2Response" element="ope2:operation2Response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="head2">
        <wsdl:part name="head" element="ope2:head2"/>
    </wsdl:message>
    <wsdl:message name="headOut2">
        <wsdl:part name="headOut" element="ope2:headOut2"/>
    </wsdl:message>
    <wsdl:portType name="SampleService">
        <wsdl:operation name="operation1">
            <wsdl:input message="tns:operation1Request" />
            <wsdl:output message="tns:operation1Response" />
            <wsdl:fault name="fault" message="tns:operation1Fault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="operation2">
            <wsdl:input message="tns:operation2Request"></wsdl:input>
            <wsdl:output message="tns:operation2Response"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SampleServiceSOAP" type="tns:SampleService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="operation1">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="operation2">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="head" message="tns:head2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header use="literal" part="headOut" message="tns:headOut2"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SampleService">
        <wsdl:port binding="tns:SampleServiceSOAP" name="SampleServiceSOAP">
            <soap:address location="http://www.example.org/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
